<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/item/index.css" />
<style type="text/css">
  .container-thumbnails{
    margin-top: 60px;
  }
  .thumbnails li a{
    color: #888;
    font-weight: bold;
  }
  .thumbnails li a:hover,
  .thumbnails li a:focus{
    border-color:#f2f5e9;
    -webkit-box-shadow:none;
    box-shadow:none;
    text-decoration: none;
    background-color: #f2f5e9;
  }
</style>
    <div class="container-narrow">

      <div class="masthead">
        <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
        更多
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        <!-- dropdown menu links -->
          <if condition="$login_user">
            <li><a href="{:U('Home/Item/Index')}">我的项目</a></li>
            <else />
             <li><a href="{:U('Home/User/login')}">登录/注册</a></li> 
          </if>
          
          
          <li><a href="http://doc.star7th.com/3" target="_blank">关于ShowDoc</a></li>

        </ul>
        </div>

        </ul>
        <h3 class="muted">{$show_user.username}的所有公开项目</h3>
      </div>

      <hr>
      <if condition="$login_user.groupid eq 1">
        <div class="container-thumbnails">
          <ul class="thumbnails">
            <button class="btn btn-info" id="user-manager-del" data-uid="{$show_user.uid}">删除此用户</button>
            <button class="btn btn-info" id="user-manager-modify" data-uid="{$show_user.uid}">修改密码</button>
          </ul>
        </div>
        <hr>
      </if>

    <div class="container-thumbnails">
      <ul class="thumbnails">

        <foreach name="items" item="item">
          <li class="span3 text-center">
            <a class="thumbnail" href="{:U('Home/Item/Show',array('item_id'=>$item['item_id']))}" target="_blank" title="{$item.item_description}">
              <p class="my-item">{$item.item_name}</p>
            </a>
          </li>     
        </foreach>


      </ul>
    </div>


    </div> <!-- /container -->

<div class="modal hide fade" id="user-modify-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>修改此用户密码</h3>
  </div>
  <div class="modal-body">
    <form action="{:U('Home/User/modifypwd')}" method="post">
      <input type="hidden" name="uid" class="input-block-level" value="{$show_user.uid}">
      <input type="password" name="new_password" class="input-block-level">
      <button class="btn btn-info" type="submit" id="user-modify-sub">修改</button>
    </form>
  </div>
</div>

 <include file="Common/footer" />
 <script type="text/javascript">
   <if condition="$login_user.groupid eq 1">
       $(document).ready(function() {
         $("#user-manager-modify").click(function () {
           $("#user-modify-modal").modal();
         });
         $('#user-manager-del').click(function () {
           var uid = $(this).attr('data-uid');
           $.ajax({
             url: '{:U('Home/User/manager')}',
             type: 'post',
             data: {uid: uid},
             success: function (res) {
               console.log(res);
               if (res.stat === 'success') {
                 window.location.href = '{:U('Home/User/manager')}';
               }
             }
           });
         });
       });
   </if>
 </script>